*{
    font-family: 'Dancing Script', serif;
}

html{
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

body{
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.div-titulo{
    height: 100%;
    text-align: justify;
    padding: 30px;
    font-size: 5rem;
    color:white;
    background-color: transparent;
}

.button{
    font-size: 60px !important;
    width:100%;
    margin-top: 30px;
}

.de{
    text-align: end;
}